name: Deploy Nodejs app

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Deploy
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: 13.203.208.2
                username: cloudshell-user
                key: ${{ secrets.SSH_KEY}}
                script: | 
                    cd /home.cloudshell-user/node-application-githubaction
                    git pull
                    docker compose up -d --build